.aside {
  width: 320px;
  padding: 16px 0;
  font-size: 13px;
  font-family: Microsoft YaHei, sans-serif;
  font-weight: bold;
  .aside-container {
    padding: 0 8px;
  }

}

.edit-dialog {
  --el-dialog-border-radius: 12px;
  max-width: 600px;
  width: 100%;
}
.edit-container {
  .label {
    margin-bottom: 8px;
    // color: var(--color-main);
    color: var(--color-dark);
  }
  .edit-form-item {
    margin-bottom: 16px;
  }
}
