.sort-bar {
    padding: 32px 64px 8px 16px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
}

.tabs {
    display: flex;
    flex-flow: row;
    .tab-item {
        --item-padding: 16px;
        font-size: 12px;
        position: relative;
        color: var(--color-gray);
        cursor: pointer;
        &+.tab-item {
            padding-left: var(--item-padding);
            &::after {
                content: '';
                position: absolute;
                left: calc(var(--item-padding) / 2);
                top: 50%;
                transform: translateY(-50%);
                height: 60%;
                width: 1px;
                background-color: #333;
            }
        }
        &:hover,&.active {
            color: var(--color-main);
        }
    }
}
.sort-btn {
    margin-left: 16px;
}