@import url('@/assets/styles/mixins.less');

.home {
  height: 100%;
  overflow: hidden;
}
.main {
  display: flex;
  flex-flow: column;
  padding: 0;
  .favorite-wrap {
    flex: 1;
    min-height: 1px;
    overflow-y: auto;
  }
}
.tip {
  color: var(--color-gray);
  padding: 32px 0;
  text-align: center;
}