.home {
    height: 100%;
    overflow: hidden;

    &__container {
        min-height: 1px;
        flex-wrap: nowrap;
        display: block;
        position: relative;
        height: 100%;
    }

    &__main {
        display: flex;
        flex-flow: column;
        padding: 0;
        transition: all 0.3s linear;
        padding-left: 320px;
        height: 100%;
    }
}
