:root {
    --color-dark: #000;
    --color-dark3: #333;
    --color-dark32: #323232;
    --color-dark5d: #5e5d5d;

    --color-white: #fff;
    
    --color-gray: #999;
    --color-gray1: #BBBDBF;
    --color-gray2: #D4D6D9;

    --color-green: #00B90F;
    
    --color-blue: #3A88F6;
  }
  