@import url('./color.less');

@font-face {
  font-family: 'tjl';
  src: url('../font/tjl.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-s: 12px;
  --font-m: 14px;
  --font-l: 16px;
  --font-xl: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: tjl, PingFangSC, Noto Sans SC, system-ui, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif !important;
  background-color: var(--color-gray3);
  color: var(--color-dark3);
}

.color-gray {
  color: var(--color-gray);
}

.font-s {
  font-size: var(--font-s);
}
.font-m {
  font-size: var(--font-m);
}
.font-l {
  font-size: var(--font-l);
}
.font-xl {
  font-size: var(--font-xl);
}

.ov-1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.flex-center {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

img[lazy='loaded'] {
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-fill-mode: ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
