@import url('./color.less');

:root {
    --theme-color: var(--color-white);
    --main-font-color: var(--color-dark3);
    --border-color: var(--color-gray1);
    --shadow-color: var(--color-red);

    --shadow-dark: var(--color-gray1);
}