@import url('./color.less');

:root {
    --theme-color: var(--color-white);
    --main-font-color: var(--color-dark3);
    --border-color: var(--color-gray1);
    --shadow-color: var(--button-color);
    --shadow-dark: var(--color-gray1);

    --color-main: var(--color-deeppurple60);
    --color-fade-main: var(--color-purple);
    
    --button-color: var(--color-deeppurple60);
    --button-hover-color: var(--color-deeppurple30);
    --hover-color: rgba(170, 31, 250, 0.048);
}

.el-overlay-message-box .el-message-box {
    --el-messagebox-border-radius: 12px;
    --el-messagebox-width: 600px;
    --el-messagebox-padding-primary: 24px;
    --el-color-info: #000;
    --el-messagebox-content-color: #000;
    padding-bottom: 24px;
    min-width: 300px;
}

button.el-button {
    --el-border-radius-base: 100px;
    --el-button-text-color: #000;
    --el-button-border-color: var(--button-color);
    --el-button-hover-text-color: var(--color-white);;
    --el-button-active-border-color: var(--button-color);
    --el-button-hover-border-color: var(--button-color);
    --el-button-active-bg-color: var(--button-color);
    --el-button-hover-bg-color: var(--button-color);
    min-width: 120px;
    padding: 18px!important;
    font-family: 'tjl';
    transition: all .3s;
}
button.el-button--primary {
    --el-button-bg-color: var(--button-color);
    --el-button-text-color: var(--color-white);
    --el-button-border-color: var(--button-color);
    outline: none!important;
}
button.el-button--primary:hover {
    background-color: var(--button-hover-color);
    color: #fff;
}