.favorite-wrap {
  padding: 16px;
  .card-wrap {
    display: flex;
    flex-flow: row wrap;
  }
}

.favorite-card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  width: 240px;
  height: 280px;
  margin-bottom: 16px;
  margin-right: 16px;
  word-wrap: break-word;
  cursor: pointer;
  transform: translateY(0);
  transition: all 0.3s;
  box-shadow: 0 0 0 var(--shadow-dark);
  visibility: visible !important;
  display: flex;
  flex-flow: column;
  &.drag {
    opacity: 0.3;
  }
  &.video-card {
    width: 40%;
    height: 600px;
    min-width: 280px;
  }
  &[dragging] {
    opacity: 1;
    box-shadow: 0 0 16px var(--shadow-dark);
    height: auto !important;
    .drag-title {
      display: block;
    }
    .favorite-card--preview,
    .favorite-card--body {
      display: none;
    }
  }
  &:hover {
    box-shadow: 0 0 16px var(--shadow-dark);
    transform: translateY(-8px);
    .edit {
      display: inherit;
    }
  }
  .drag-title {
    padding: 16px;
    display: none;
  }
  &--preview {
    flex: 1;
    min-height: 1px;
    position: relative;
    font-family: Microsoft YaHei, sans-serif;
    overflow: hidden;
    background-color: #000;
    .nswf {
      position: absolute;
      top: 4px;
      right: 4px;
      display: none;
      z-index: 99;
      // box-shadow: 0 0 12px var(--shadow-dark);
    }
    &:hover {
      .nswf {
        display: block;
      }
    }
    img {
      max-width: 100%;
      // height: 100%;
      object-fit: cover;
      display: block;
    }
    .url,
    .text {
      padding: 16px;
    }
    .text {
      font-family: Microsoft YaHei, sans-serif;
      width: 100%;
      height: 100%;
      background-color: #fff;
      .text-inner {
        background-color: var(--color-gray3);
        width: 100%;
        height: 100%;
        padding: 8px;
        border-radius: 8px;
      }
    }
    .video {
      height: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;
      background-color: #000;
      video {
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
      }
    }
  }
  &--desc {
    overflow: hidden;
    padding: 8px 16px;
    font-size: 12px;
    p {
      font-size: 12px;
      margin-bottom: 8px;
    }
    a {
      display: block;
      text-decoration: none;
      color: var(--color-gray);
    }
    .favicon {
      width: 18px;
      height: 18px;
      margin-right: 6px;
    }
    .footer {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
    }
    .tool-bar {
      display: flex;
      flex-flow: row;
    }
    .edit {
      display: none;
      color: #000;
      margin-left: 8px;
      &:hover {
        color: var(--color-pink);
      }
    }
  }
}
